.mm-pagination{
    background-color:#29c96a !important;
    padding:0%;
    padding:1%;
    width:auto;
    height:auto;
    margin:0%;
    color:#FFFFFF !important;
    border:1px solid #25bf64 !important;
}
.mm-pagination:hover{
    background-color:#3bf085 !important;
    color:#FFFFFF !important;
}
.btn-pagination{
    background-color:#29c96a !important;
    padding:0%;
    padding:1%;
    width:auto;
    height:auto;
    margin:0%;
    color:#FFFFFF !important;
    border:1px solid #25bf64 !important;
    float:right;
}
.btn-pagination:hover{
    background-color:#3bf085 !important;
    color:#FFFFFF !important;
    border-color:#3bf085 !important;
}
.links{
    background-color:green !important;
    color:orange !important;
}
.btn-active{
    padding:1%;
    background-color:#2c8d54 !important;
    color:#FFFFFF !important;
    border:1px solid #2c8d54 !important;
}
.btn-active:hover{
    background-color:#31a15e !important;
    color:#FFFFFF !important;
    border-color:#31a15e !important;
}
.pager-bottom{
    padding:0%;
    height:auto;
    width:auto !important; 
    display:flex;
    flex-direction:row;
    align-items:flex-end;
    justify-content:flex-end;
    margin-top:.8%;
}